/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Purple): #357b70;
Secondary Color (Orange): #e0b354;
Links Color (#22a591): #22a591;
*/

/* Contrast ratios:
4.5:1 for normal text
3:1 for large texts */
span {
  font-style: italic;
  font-weight: bold;
}

body {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

a {
  color: #22a591;
}

/* a:hover MUST come after a:visited in the CSS definition in order to be effective.
Likewise, a:active MUST come after a:hover in the CSS definition in order to work. */

a:visited {
  /* visited link */
  color: #800080;
}

a:hover,
a:focus {
  /* No underlining when hovering over a link */
  color: blue;
  text-decoration: none;
}

a:active {
  /* selected link */
  color: rgb(11, 231, 77);
}

button {
  /* overwrites the browser defaults and resets the border */
  border: none;

  /* takes the font from the outer container */
  font-family: inherit;

  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #357b70;
  color: white;
  text-decoration: none;

  /* adds spacing to the button */
  padding: 10px;
  border-radius: 3px;

  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rbga(0, 0, 0, 0.3);
}

button:hover,
button:focus {
  /* lets the mouse appear as a hand when hover over the button */
  cursor: pointer;

  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.button__secondary {
  background-color: #e0b354;
  color: #2b2b2b;
}

.navigation-list__item--active {
  text-decoration: none;
}
